$open-sans: 'Open Sans', sans-serif;
$roboto: 'Roboto', sans-serif;
$roboto-slab: 'Roboto Slab', serif;
$line-height: 30px;

$light-gray: #F9F9FC;
$green-midnight: #006F72;
$green-emerald: #13BABE; /* #00B9BE */
$green-action: #0ACB63;
$red-alert: #FF7000;
$red-desert: #E84C0C;
$dark-black: #222222;
$white: #FFFFFF;

$cubic-bezier: ease-in-out;

/* IMG URL */
$avatar-default: url('../images/avatar-default.png');
$button-texture: url('../images/button-texture.png');

$logo-small: url('../images/logo/logo--small.png');
$logo-medium: url('../images/logo/logo--medium.png');
$logo-blog: url('../images/logo/logo--blog.png');

$icon-like: url('../images/icon/like.png');
$icon-like-h: url('../images/icon/like-h.png');
$icon-like-a: url('../images/icon/like-a.png');

$icon-bookmark: url('../images/icon/bookmark.png');
$icon-bookmark-h: url('../images/icon/bookmark-h.png');
$icon-bookmark-a: url('../images/icon/bookmark-a.png');

$icon-access-default: url('../images/icon/access-default.png');
$icon-access-blog: url('../images/icon/access-blog.png');
$icon-access-ratio: url('../images/icon/access-ratio.png');

$icon-share: url('../images/icon/share.png');

$icon-more: url('../images/icon/more.png');

$icon-share-facebook: url('../images/social/facebook.png');
$icon-share-facebook-h: url('../images/social/facebook-h.png');
$icon-share-facebook-a: url('../images/social/facebook-a.png');

$icon-share-twitter: url('../images/social/twitter.png');
$icon-share-twitter-h: url('../images/social/twitter-h.png');
$icon-share-twitter-a: url('../images/social/twitter-a.png');

$icon-share-vk: url('../images/social/vk.png');
$icon-share-vk-h: url('../images/social/vk-h.png');
$icon-share-vk-a: url('../images/social/vk-a.png');

$icon-share-pinterest: url('../images/social/pinterest.png');
$icon-share-pinterest-h: url('../images/social/pinterest-h.png');
$icon-share-pinterest-a: url('../images/social/pinterest-a.png');

$icon-share-google: url('../images/social/google.png');
$icon-share-google-h: url('../images/social/google-h.png');
$icon-share-google-a: url('../images/social/google-a.png');
